* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/loginBg.jpg);
    background-size: cover;
    background-position: center;
}

.login-box {
    width: 400px;
    
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 20px;
}
.buttons button {
    padding: 10px 20px;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    background: rgb(0, 55, 254);
    color: #fff;
}

.buttons button:hover {
    background: rgb(63, 102, 240);
}

.icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid  rgb(0, 55, 254);
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

.icons img:hover {
    background:rgb(0, 55, 254); 
}

.input-field {
    width: 330px;
    margin: 0 auto; 
    transition: 1s;
    margin-left: 10px;
}
.input-field input {
    width: 100%;
    padding:10px;
    margin-top: 20px;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #555;

}
.input-field .checkbox {
    margin-left: -120px;
    margin-top: 47px;
}
.input-field p {
    margin-left: 18px;
    margin-top: -19px;
}
.input-field button {
    display: block;
    margin: 50px auto 0;
    padding: 20px 100px;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    background: rgb(0, 55, 254);
    color: #fff;
}

.input-field button:hover {
    background: rgb(63, 102, 240);
}

.login-regis {
    display: flex;
    overflow: hidden;
}
#login {
   margin-left: 50px;
}
#register {
    margin-left: 330px;
    padding: 30px;
    margin-top: -30px;
}

#checkbox2 {
    margin-left: -130px;
}


